---

---

<section
  class='max-[990px]:hidden h-max w-screen bg-[#120b0b] text-[#fdfdf1] py-[10vh] px-[8vw]'
>
  <div>
    <div class='h-max w-full flex items-center gap-[2vw] py-[10vh] px-[4vw]'>
      <div
        class='h-max w-1/2 flex items-start justify-center flex-col gap-[4vh] px-[4vw] border-r-[.05vw] border-[#333]'
      >
        <span class=''>Riz Carlton Resorts</span>
        <div class='flex flex-col gap-[1vh] text-[#444] tracking-wider'>
          <a href='#'>Instagram</a>
          <a href='#'>Youtube</a>
          <a href='#'>Linkedin</a>
          <a href='#'>Facebook</a>
        </div>
      </div>
      <div class='h-max w-1/2 flex items-center justify-center gap-[2vw]'>
        <div class='h-max w-1/3 flex flex-col gap-[4vh]'>
          <span class='text-[#666]'>EXPLORE</span><div
            class='flex flex-col gap-[2vh] text-[#fffffc]'
          >
            <a href='#'>Boutique</a><a href='#'>Careers</a><a href='#'
              >Gift Cards</a
            >
          </div>
        </div>
        <div class='h-max w-1/3 flex flex-col gap-[4vh]'>
          <span class='text-[#666]'>CONNECT</span><div
            class='flex flex-col gap-[2vh] text-[#fffffc]'
          >
            <a href='#'>Loyality</a><a href='#'>Travle Advisor</a><a href='#'
              >Contact</a
            >
          </div>
        </div>
        <div class='h-max w-1/3 flex flex-col gap-[4vh]'>
          <span class='text-[#666]'>LINKS</span><div
            class='flex flex-col gap-[2vh] text-[#fffffc]'
          >
            <a href='#'>Terms of use</a><a href='#'>Privacy Policy</a><a
              href='#'>Cookies</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
