---

---

<section class='min-[990px]:hidden bg-[#120b0b] flex flex-col h-max w-screen'>
  <div class='h-max w-max gap-[4vw] flex py-[4vh] px-[6vw]'>
    <a href='#'>
      <svg
        xmlns='http://www.w3.org/2000/svg'
        width='28'
        height='28'
        viewBox='0 0 24 24'
        ><path
          fill='#888888'
          d='M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4zm9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3'
        ></path></svg
      ></a
    ><a href='#'>
      <svg
        xmlns='http://www.w3.org/2000/svg'
        width='28'
        height='28'
        viewBox='0 0 24 24'
        ><path
          d='M5 3h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2m13 2h-2.5A3.5 3.5 0 0 0 12 8.5V11h-2v3h2v7h3v-7h3v-3h-3V9a1 1 0 0 1 1-1h2V5z'
          fill='#888888'></path></svg
      >
    </a><a href='#'>
      <svg
        xmlns='http://www.w3.org/2000/svg'
        width='28'
        height='28'
        viewBox='0 0 16 16'
        ><path
          fill='#888888'
          d='M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104l.022.26l.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105l-.009.104c-.05.572-.124 1.14-.235 1.558a2.01 2.01 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006l-.087-.004l-.171-.007l-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.01 2.01 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31 31 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103l.003-.052l.008-.104l.022-.26l.01-.104c.048-.519.119-1.023.22-1.402a2.01 2.01 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007l.172-.006l.086-.003l.171-.007A100 100 0 0 1 7.858 2zM6.4 5.209v4.818l4.157-2.408z'
        ></path></svg
      >
    </a><a href='#'>
      <svg
        xmlns='http://www.w3.org/2000/svg'
        width='28'
        height='28'
        viewBox='0 0 512 512'
        ><path
          fill='#888888'
          d='M389.2 48h70.6L305.6 224.2L487 464H345L233.7 318.6L106.5 464H35.8l164.9-188.5L26.8 48h145.6l100.5 132.9zm-24.8 373.8h39.1L151.1 88h-42z'
        ></path></svg
      >
    </a>
  </div>
  <div class='px-[4vw] py-[6vh] bg-[#120b0b] flex'>
    <div class='h-max w-[75%] flex gap-[10vh] flex-col justify-center'>
      <span class='text-[#fffffc] font-[500] font-lato text-[2vh]'
        >Riz Carlton Resorts</span
      >
      <div class='h-max w-max flex gap-[2vw] text-[#999] text-[1vh]'>
        <a href='#'>TERMS & CONDITIONS</a><span>|</span><a href='#'
          >PRIVACY POLICY</a
        >
      </div>
    </div>
    <div class='h-max w-[25%] flex items-center justify-center pr-[4vw]'>
      <div class='flex flex-col gap-[1vh] text-[#999] text-[1.4vh] uppercase'>
        <a href='#'>Instagram</a>
        <a href='#'>Youtube</a>
        <a href='#'>Linkedin</a>
        <a href='#'>Facebook</a>
      </div>
    </div>
  </div>
</section>
