---

---

<section class='min-[990px]:hidden py-[12vh] px-[4vw] bg-[#120b0b] flex'>
  <div class='h-max w-[75%] flex gap-[10vh] flex-col justify-center'>
    <span class='text-[#fffffc] font-[500] font-lato text-[2vh]'
      >Riz Carlton Resorts</span
    >
    <div class='h-max w-max flex flex-col gap-[2vh] text-[#999] text-[1vh]'>
      <a href='#'>TERMS & CONDITIONS</a><a href='#'>PRIVACY POLICY</a>
    </div>
  </div>
  <div class='h-max w-[25%] flex items-center justify-center pr-[4vw]'>
    <div class='flex flex-col gap-[1vh] text-[#999] text-[1.4vh] uppercase'>
      <a href='#'>Instagram</a>
      <a href='#'>Youtube</a>
      <a href='#'>Linkedin</a>
      <a href='#'>Facebook</a>
    </div>
  </div>
</section>
